<div *ngIf="cartService.getProducts().length;then content else other_content"> </div>
  <ng-template #content>
    <div id="cart">
      <h2>{{cart.name}}</h2>
      <app-buyed-product
        *ngFor="let buyedProductModel of cartService.getProducts()"
        [itemModel]="buyedProductModel"
        (operation)="onQtyChanged($event)">ChangeQty
      >
      </app-buyed-product>
    </div>
  </ng-template>
  <ng-template #other_content>
    <div id="empty_cart">
      <h2>{{cart.name}}</h2>
      <h1>Cart is empty</h1>
    </div>
  </ng-template>

